@mixin white-gradient-to-top($color-intensity) {
  background: linear-gradient(180deg, #fff $color-intensity, rgba(#fff, 0) 100%);
}

@mixin white-gradient-to-bottom($color-intensity) {
  background: linear-gradient(0deg, #fff $color-intensity, rgba(#fff, 0) 100%);
}

@mixin white-gradient-to-right($color-intensity) {
  background: linear-gradient(-90deg, #fff $color-intensity, rgba(#fff, 0) 100%);
}

@mixin white-gradient-to-left($color-intensity) {
  background: linear-gradient(90deg, #fff $color-intensity, rgba(#fff, 0) 100%);
}
