.nuxt-layout {
  position: relative;

  .router-view-wrapper {
    min-height: 100vh;
    padding-top: calc(var(--header-height) + 16px);

    @include mq($until: desktop) {
      padding-top: calc(var(--header-height) / 2);
    }
  }
}
