.persons-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include mq($until: tablet) {
    flex-direction: column;
  }
  .filter {
    flex: 0.4;
    margin: 12px 14px;
    padding: 12px 14px;
    background-color: var(--color-field-01);
    border: 1px solid var(--color-border-01);
    outline: 0;
    font-size: 14px;
    color: var(--color-text-02);
    @include mq($until: tablet) {
      flex: 1;
      margin: 12px 0;
    }
  }
}
