.persons {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  @include mq($until: desktop) {
    justify-content: center;
  }
  .person-card {
    width: 260px;
    height: 350px;
    margin-bottom: 32px;
    @include mq($until: desktop) {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }
  &.mentors {
    .person-card {
      border-top-color: var(--color-ui-03) !important;
    }
    .name {
      color: var(--color-ui-03) !important;
    }
  }
  &.mentees {
    .person-card {
      border-top-color: var(--color-ui-04) !important;
    }
    .name {
      color: var(--color-ui-04) !important;
    }
  }
}
