.app-tile {
  background-color: var(--color-ui-02);
  border-radius: 0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

  &--hoverable {
    &:hover {
      box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.22);
    }
  }
}
