// General
@charset "UTF-8";

::-moz-selection {
  color: #fff;
  background: #444;
}

::selection {
  color: #fff;
  background: #444;
}

html,
body {
  background-color: var(--color-ui-01);
  color: var(--color-text-03);
  // @include roboto-regular;
  overflow: hidden; // Remove this if you are not using AppPreloader.vue.
}
